<IfModule mod_rewrite.c>
 <IfModule mod_negotiation.c>
    Options -MultiViews -Indexes
</IfModule>

#activar rewrite
RewriteEngine on

# condicionales para que las url's no muestren ficheros ni directorios cualquieras
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

#reglas de reescritura a URL'S amigables
RewriteRule ^(.*)/(.*)/?$                /index.php?controller=$1&action=$2 [L,QSA]

# asegurar htaccess
<Files .htaccess>
order allow,deny
deny from all
</Files>        

#URL de error
#ErrorDocument 404 /index.php?controller=error&action=index

</IfModule>
